<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/robodriver/start_seleniumserver.cmd}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="&quot;C:/ProgramData/Oracle/Java/javapath/java.exe&quot;&#13;&#10;&quot;D:\exchange\Selenium\selenium-server-standalone-3.6.0.jar&quot;&#13;&#10;&quot;D:\exchange\Selenium\chromedriver\chromedriver2.32.exe&quot;&#13;&#10;&quot;.\target\classes&quot;&#13;&#10;&quot;C:\Users\geralde\Documents\GitHub\robodriver\target\classes&quot;"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/robodriver}"/>
</launchConfiguration>
